.about-paragraph {
  max-width: 900px;
  margin: auto;
}
.team-card {
  max-width: 300px;
  padding: 15px;
  margin: 15px auto;
}

.team-card:hover {
  background: #f5f5f5;
}

img.member-photo {
  width: 180px;
  margin: auto;
  border: 2px solid var(--primary);
}


.about-teams .card {
  margin-bottom: 10px;
}
.about-teams .card h5 {
  text-align: left;
  cursor: pointer;
  color: #555;
}
.about-teams .card .card-header {
  border: none;
}