.App {
  text-align: center;
}

#site-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

main.main {
  min-height: calc(100vh - 120px);
}


.section {
  padding-top: 10vh;
  padding-bottom: 10vh;
}
.section > .section-header {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}
.section > .section-header::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 20%;
  width: 60%;
  height: 2px;
  border-radius: 100%;
  background: var(--primary);
  opacity: 60%;
}


.footer {
  padding: 10px 0;
  background-color: var(--primary);
  color: #f5f5f5;
  font-size: 1rem;
}

.footer a {
  color: white;
}

.footer h5 {
  color: white;
}

.social-media-links a {
  margin-left: 15px;
  font-size: 1.5em;
}

.btn-cursor{
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}

.resources-title{
  /* text-align: center; */
  margin-left: auto
}

.resource-buttons {
  width: 100%;
  margin: 8px 40px 8px 40px;
}



/* Fundraisers CSS */
.fundraiser-card {
  font-size: 0.85em;
  text-align: left;
}
.fundraiser-card .VictoryContainer {
  max-width: 120px;
  min-width: 120px;
  margin: auto;
}

@media (max-width: 400px) {
  .fundraiser-card .VictoryContainer {
    max-width: unset;
    min-width: unset;
    margin: auto;
  }
}

/* .lng-select-label {
  font-size: 0.8em;
  color: #aaa;
  text-align: left;
  margin-bottom: 2px;
} */